/* header title */
.title{
    color: #31A5AC;
}
/* form titles */
.form-titles{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
/* form inputes */
input{
    background-color: #DCDCDC;
    border: none;
    height: 40px;
    border-radius: 2px;
}
.save-input2{
    width: 30%;
}
#calc-btn{
   margin-left: 75px;
   margin-bottom: 30px;
}
.button{
    background-color:#59A5FF;
    border: none;
    color: white;
    padding: 8px 40px;
    border-radius: 4px;
    font-weight: 700;
}

#form-body{
    background-color: #F8F8F8;
    padding-left: 50px;
}
.img-form-parent{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    img{
        width: 100%;
    }
    .img-form-parent{
        display: block;
        justify-content: center;
    }
    #form-body{
        width: 100%;
        padding-left: 10%;
    }

    input{
        padding-left: 10%;
    }
    
}



